*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}
body{
    background-color: black;
}
form {
    margin: 10px;
}
input{
    margin-right: 5px;
    margin-top: 5px;
}
#list{
    display: flex;
    flex-wrap: wrap;
}
.car img{
    width: 300px;
    border-radius: 10px 10px 0 0;
}
.car{
    margin: 10px;
    border: 1px solid rgb(255, 251, 251);
    background-color: rgb(134, 115, 7);
    border-radius: 10px 10px 0 0;
}
.car p{
    color: white;
    padding: 5px;
}